.prompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.prompt.hidden {
  display: none;
}

.prompt-window {
  background: var(--color-white);
  padding: 24px;
  border-radius: 12px;
  width: 260px;
  font-family: "Space Mono", monospace;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.prompt-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  color: var(--color-green-900);
}

.prompt-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 2px solid var(--color-grey-200);
  font-size: 18px;
  text-align: center;
}

.prompt-btn {
  width: 100%;
  padding: 10px;
  background: var(--color-green-400);
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.prompt-btn:hover {
  background: var(--color-green-500);
}
