@import url("tokens.css");
.preset1 {
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -1px;
  color: var(--color-green-400);
}
.preset2 {
  font-size: 32px;
  line-height: 47px;
  letter-spacing: -0.67px;
  color: var(--color-green-400);
}
.preset3 {
  font-size: 24px;
  line-height: 36px;
}
.preset4 {
  font-size: 20px;
  line-height: 30px;
  color: var(--color-green-900);
}
.preset5 {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey-500);
}
.preset6 {
  font-size: 13px;
  line-height: 19px;
  color: var(--color-grey-400);
}
