:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange-400: #e17052;
  --color-green-200: #9fe8df;
  --color-green-400: #26c2ae;
  --color-green-750: #0d686d;
  --color-green-800: #085c61;
  --color-green-900: #00474b;
  --color-grey-50: #f3f9fa;
  --color-grey-200: #c5e4e7;
  --color-grey-300: #9ebbbd;
  --color-grey-400: #7f9d9f;
  --color-grey-500: #5e7a7d;
  --color-grey-550: #547878;
  --color-grey-600: #3d6666;
}
@import url("tokens.css");
.preset1 {
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -1px;
  color: var(--color-green-400);
}
.preset2 {
  font-size: 32px;
  line-height: 47px;
  letter-spacing: -0.67px;
  color: var(--color-green-400);
}
.preset3 {
  font-size: 24px;
  line-height: 36px;
}
.preset4 {
  font-size: 20px;
  line-height: 30px;
  color: var(--color-green-900);
}
.preset5 {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey-500);
}
.preset6 {
  font-size: 13px;
  line-height: 19px;
  color: var(--color-grey-400);
}
